.navbar1{
  background-color: #585858;
}
.navbar1 ul{
  overflow: auto;
}
.navbar1 li{
  float: left;
  list-style: none;
  padding: 0 1.5rem 0 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 20px;
}
.navbar li a:hover{
  color: #585858;
}
.search{
  float: right;
  margin: 1rem;
  padding: 3px;
}
#search{
  border: 2px solid black;
  border-radius: 30px;
  padding: 3px 15px;
  margin: 0;
}
.first_para{
  text-align: center;
  margin: 12px;
  padding: 10px;
}
.footer{
  background-color: #585858;
  margin-top:3rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
}
.footer p{
  color: white;
  margin-left: 2rem;
  font-size: 20px;
}
.form-div-container{
  width: 50%;
  margin: auto;
}
.form-div{
  margin-top: 0.5rem;
}
.btn-div{
  
  margin:auto;
}
.btn-div2{
  float:right;
}
